.footer {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}

.footer-actions {
  float: right;
  padding: 10px;
  width: 48vw;
  background: #2980b9;
}

.add-item {
  width: 48vw;
  float: left;
  padding: 10px;
  background: #2980b0;
}
